@import '../../styles/mixins';

.common-side-panel {
  position: fixed;
  box-sizing: border-box;
  overflow: auto;
  top: 0;
  left: 0;
  margin: 0;
  width: 260px;
  height: 100%;
  background-color: #EEE;

  .app-logo {
    margin: 30px;
    width: 200px;
  }

  ul,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  a {
    display: block;
    padding: 8px;
    padding-left: 24px;
    text-decoration: none;
    color: black;
  }
  a.active {
    font-weight: bold;
    background-color: #CCC;
  }
}
